body {
  margin: 0px;
}
html {
  background-image: url(img/calm.jpeg);
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 40%;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;

}
#welcome {
  width: 100%;
}
.hidden {
  display: none;
}
.inline {
  display: inline;
}
.title {
  text-align: left ;


}

#welcome .timer {
  text-align: center;
  font-size: xx-large;
}
.description {
  display: flex;
  position:static;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  text-align: left;
  font-size: x-large;
  background-color: white;
  margin-left:290px;
  margin-right: 290px;
  margin-top: 220px;
  line-height: 20px;
  color: black;
  box-sizing: border-box;
  box-shadow: 0 0 2px;
  padding:15px;
  font-size: 22px;
}

#question-num,
.inline-time {
  display: inline-block;
}
#question-num {
  margin-bottom: 30px;
}
.inline-time {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-top: 1px;
  padding-top: 10px;
}
#game {
  box-sizing: border-box;

  color: #000000;
  height: 100vh;
  width: 100vw;

  margin: 0px;
}
#game .game-top {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  width: 85vw;
  margin: 0px auto;
  margin-top: 20vh;
  height: 12vh;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 5px 5px rgb(197, 194, 194);
  -webkit-box-shadow: 0 0 5px 5px rgb(197, 194, 194);
  box-shadow: 0 0 3px 3px rgb(197, 194, 194);
  font-size: 0.9rem;
}

#game .lower {
  border-radius: 4px;
  box-sizing: border-box;
  width: 85vw;
  margin: 0px auto;
  -moz-box-shadow: 0 0 5px 5px rgb(197, 194, 194);
  -webkit-box-shadow: 0 0 5px 5pxrgb (197, 194, 194);
  box-shadow: 0 0 3px 3px rgb(197, 194, 194);
  margin-top: 14px;
}

.lower #question {
  padding: 5px;
  background: rgb(255, 252, 252);
  border-radius: 4px;
  color: black;
  height: 14vh;
  width: 85vw;
  margin: 0px auto;
  padding-left: 20px;
  font-size: 1.6rem;
  box-sizing: border-box;
    padding-top:5vh;
}

.option-display {
  display: flex;
  align-items: left;
  flex-direction: row;
  margin: 0px auto;
  height: 8vh;
  width: 85vw;
  box-sizing: border-box;
  font-size: 1.5em;
    padding-top:1.7vh;
    padding-left: 1.5vh;
  border-top: 1px solid black;
}
.option-display #A,
.option-display #B,
.option-display #C,
.option-display #D {
  color: black;
}
.option-display .opt {
  width: 30px;
  height: 30px;
  background: #fff;
  display: flex;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50%;

}
.option-display .opt:hover {
  width: 30px;
  height: 30px;
  background: #fff;
  box-sizing: border-box;
  border: 4px solid rgb(39, 89, 207);
}
.option-display .selected {
  width: 30px;
  height: 30px;
  background: url(https://image.flaticon.com/icons/svg/992/992481.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
}
.option-display .selected:hover {
  width: 30px;
  height: 30px;
  background: url(https://image.flaticon.com/icons/svg/992/992481.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
}

.ques-num {
  margin-left: 6%;
  padding-bottom: 18px;
  box-sizing: border-box;
  width: 300px;
  font-size: 2.5em;
}
.game-timer {
  position: absolute;
  top: 26vh;
  font-size: 1.6em;
  margin-top: 4px;
  font-weight: bold;
}
.time {
  font-size: 1.0em;
  margin-left: 6px;
  margin-top: 2px;
}

#countdown {
  position: relative;
  margin: auto;
  margin-top: 5px;
  height: 150px;
  width: 70px;
  text-align: center;
}

#countdown #countdown-number {
  color: transparent;
  display: inline-block;
  line-height: 40px;

}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 65px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 156px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: rgb(13, 201, 69);
  fill: none;
  animation: countdown 20s linear infinite forwards;

}
#next-btn {
  height: 40px;
  margin-bottom: 25px;
  margin-right: 113px;
  border: 2px solid green;
  float: right;
  outline: none;
  width: auto;
  border-radius: 4px;
  background-color: white;
  font-size: larger;

}

#start-btn {
  background-color: green;
  color: white;
  margin-left: 50vh;
  align-content: center;
  border-radius: 5px;
  width:90px;
  margin-top:10px;
  padding:5px;
  font-weight: bold;
  font-size: 15px;

}
#results {
  text-align: center;
  background-color: aliceblue;
  padding: 15px;
  color: black;
  margin-left: 400px;
  margin-right:400px;
  margin-top:240px;
  height:150px;
  box-sizing: border-box;
  box-shadow: 0 0 3px 3px rgb(197, 194, 194);
}

@media only screen and (max-width: 600px) {
  .description{
    font-size: 0.8em;
    width:450px;
    margin-left: 35px;
    height: 180px;
    line-height: 15px;
  }
  .ques-num {
    margin-left: 20%;
    width: 190px;
    font-size: 2.2em;
  }
  .time {
    font-size: 1.4em;
  }

  .lower #question {
    font-size: 1.0rem;
    height: 14vh;
  }
  .option-display {
    font-size: 0.9em;
    height: 8vh;
  }
  svg {
    top: 8px;
  }
  .game-timer {
    margin-top: -8vh;
    top: 38vh;
  }
  #results{
    width:350px;
    margin-left: 80px;
  }

  #game .game-top {
    height: 17vh;
  }
  #next-btn{
    margin-right: 10em;
  }

}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 156px;
  }
}
